/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile Page Styles */
.about-me {
    margin-bottom: 40px; /* Menambahkan jarak antar section */
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.profile-info {
    text-align: center;
    margin-top: 20px;
}

.profile-info p {
    font-size: 18px;
    margin: 10px 0;
}

/* Course List Page Styles */
.course-list {
    margin-top: 40px; /* Menambahkan jarak dari section sebelumnya */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: left;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    margin-top: 20px;
}
